.cards.block {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.cards-item {
  padding: 0 1em;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.cards.block .cards-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
}

.cards.block .cards-card-image {
  display: block;
  position: relative;
}

.cards.block .cards-card-image p {
  position: absolute;
  bottom: 0;
  background: var(--lightgray);
  text-transform: uppercase;
  padding: 1em 1em 0 0;
  width: calc((2 / 3) * 100%);
  letter-spacing: 0.2em
}

.cards.block .cards-card-body p {
  margin: 8px 0 24px;
}

.cards.block .cards-card-body h3 {
  padding-top: 16px;
}

.cards.block .cards-card-body .button-container {
  margin: 16px 0 0 ;
  height: 40px;
  display: flex;
}

.cards.block .cards-card-body .button-container a {
  padding: 10px 24px;
  border: 1px solid var(--black);
  color: var(--black);
}

.cards-container .default-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.cards-container .default-content-wrapper h4 {
  text-transform: uppercase;
  font-family: var(--font-family-proxima-semibold);
  letter-spacing: 0.13em;
}

@media (min-width: 992px) {
  .section.cards-container {
    padding: 55px 0 60px;
  }


  .cards.block {
    flex-direction: row;
  }

  .cards.three-column .cards-item {
    width: 33.33%;
    margin-bottom: 0;
  }

  .cards.two-column .cards-item {
    width: 50%;
    margin-bottom: 0;
  }
}
