.design-1 .agent-profile.block {
  display: flex;
  padding: 3rem 1rem 0;
  line-height: var(--line-height-xs);
  flex-direction: column;
  padding-top: 0;
}

.design-1 .agent-profile.block .hide {
  display: none;
}

.design-1 .section.agent-profile-container .agent-profile-wrapper {
  position: relative;
  left: unset;
  width: unset;
  right: unset;
}

.design-1 .agent-profile.block .profile-image {
  display: flex;
}

.design-1 .agent-profile.block .profile-content {
  padding: 0;
  line-height: var(--line-height-m);
  margin-top: 1rem;
}

.design-1 .agent-profile.block .profile-image img {
  width: 100%;
  aspect-ratio: 1/1;
  max-width: calc((100% - 60px * 2));
  margin: 0 auto;
  box-shadow: var(--primary-color) 1.25rem -1.25rem;
  object-fit: cover;
  height: fit-content;
}

.design-1 .agent-profile.block .profile-content .name h1 {
  font-family: var(--font-family-secondary);
  line-height: var(--line-height-s);
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: var(--primary-color);
}

.design-1 .agent-profile.block .profile-content .designation,
.design-1 .agent-profile.block .profile-content .license-number,
.design-1 .agent-profile.block .profile-content .website a,
.design-1 .agent-profile.block .profile-content .email a,
.design-1 .agent-profile.block .profile-content .phone {
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.design-1 .agent-profile.block .profile-content .professional-acc-lang {
  margin-top: 2rem;
  font-size: var(--body-font-size-xs);
}

.design-1 .agent-profile.block .profile-content .professional-acc-lang ul {
  padding-left: 1rem;
  margin-top: 1rem;
  list-style: unset;
}

.design-1 .agent-profile.block .profile-content .professional-accreditations,
.design-1 .agent-profile.block .profile-content .professional-accreditations-truncate {
  margin-bottom: 3rem;
}

.design-1 .agent-profile.block .profile-content .about,
.design-1 .agent-profile.block .profile-content .about-truncate {
  margin-top: 1rem;
}

.design-1 .agent-profile.block .profile-content .professional-accreditations-text,
.design-1 .agent-profile.block .profile-content .languages-text {
  text-transform: uppercase;
  font-weight: 700;
}

.design-1 .agent-profile.block a.about-view-more::after,
.design-1 .agent-profile.block a.about-view-less::after,
.design-1 .agent-profile.block a.languages-view-more::after,
.design-1 .agent-profile.block a.languages-view-less::after {
  display: inline-block;
  margin-top: 1rem;
  font-size: var(--body-font-size-xs);
  color: var(--black);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  content: "View More";
}

.design-1 .agent-profile.block a.about-view-less::after,
.design-1 .agent-profile.block a.languages-view-less::after {
  content: "View Less";
}


.design-1 .agent-profile.block .profile-content .contact-me {
  display: none;
}

@media (min-width: 992px) {
  .design-1 .agent-profile.block .profile-content .name h1 {
    font-size: 2.75rem;
    margin-top: 0;
  }

  .design-1 .agent-profile.block {
    flex-direction: row-reverse;
  }

  .design-1 .agent-profile.block .profile-image {
    flex-basis: 60%;
  }

  .design-1 .agent-profile.block .profile-content {
    flex-basis: 40%;
    margin-top: 0;
  }

  .design-1 .agent-profile.block .profile-image img {
    box-shadow: var(--primary-color) 70px -70px;
    aspect-ratio: 1 / 1.25;
    margin-top: 70px;
  }

  .design-1 .agent-profile.block .profile-content .contact-me {
    margin-top: 3rem;
    display: block;
  }
}

@media (min-width: 1200px) {
  .design-1 .agent-profile.block {
    margin-top: 3rem;
  }
}

/* 
Theme Name: Black & White
*/
.design-1.black-white .agent-profile.block .profile-image img {
  box-shadow: var(--black) 70px -70px;
}

.design-1.black-white .agent-profile.block .profile-content .name {
  color: var(--black)
}
