/* Styles for tabs and form fields used in profile page */
.profile nav button {
    border: none;
    line-height: var(--line-height-m);
    font-size: var(--body-font-size-m);
    margin: 2em 2em 2em 0;
    background-color: unset;
    text-transform: uppercase;
}

.profile nav button.active {
    font-weight: bold;
    border-bottom: 3px solid var(--primary-color);
}

.profile tab, .profile tab tab-name {
    display: none;
}

.profile tab.active {
    display: block;
}