.property-search-results.block .search-map-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.property-search-results.block .search-map-container .search-results-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.property-search-results.block .search-map-container .search-results-map #gmap-canvas {
  height: 100%;
  width: 100%;
}

.property-search-results.block .search-map-container .map-controls-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 15px;
  bottom: 15px;
  pointer-events: none;
  z-index: 1;
}

.property-search-results.block .search-map-container .map-controls-wrapper .custom-controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.property-search-results.block .search-map-container .custom-controls a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 45px;
  width: 45px;
  box-shadow: 0 0 3px 2px rgba(0 0 0 / 30%);
  pointer-events: all;
  background-color: var(--white);
}

.property-search-results.block .search-map-container .custom-controls a span {
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-xxs);
  line-height: 1em;
  letter-spacing: normal;
  color: var(--body-color);
}

.property-search-results.block .search-map-container.satellite .custom-controls .map-style span.map {
  display: none;
}

.property-search-results.block .search-map-container.map .custom-controls .map-style span.satellite {
  display: none;
}

.property-search-results.block .search-map-container .custom-controls .map-style img {
  height: 24px;
  width: 24px;
}

.property-search-results.block .search-map-container .custom-controls .map-draw img.draw {
  height: 17px;
  width: 17px;
}

.property-search-results.block .search-map-container .custom-controls .map-draw img.close {
  height: 22px;
  width: 22px;
}

.property-search-results.block .search-map-container .custom-controls .map-draw img.close,
.property-search-results.block .search-map-container .custom-controls .map-draw span.close {
  display: none;
}

.property-search-results.block .search-map-container.drawing .custom-controls .map-draw img.draw,
.property-search-results.block .search-map-container.drawing .custom-controls .map-draw span.draw {
  display: none;
}

.property-search-results.block .search-map-container.drawing .custom-controls .map-draw img.close,
.property-search-results.block .search-map-container.drawing .custom-controls .map-draw span.close {
  display: initial;
}

.property-search-results.block .search-map-container .custom-controls .map-draw-complete {
  display: none;
}

.property-search-results.block .search-map-container.drawing .custom-controls .map-draw-complete {
  display: flex;
}

.property-search-results.block .search-map-container.drawing .custom-controls .map-draw-complete img {
  height: 33px;
  width: 33px;
}

.property-search-results.block .search-map-container .custom-controls .zoom-controls {
  display: none;
}

.property-search-results.block .search-map-container .map-draw-info {
  display: none;
}

.property-search-results.block .search-map-container.drawing .map-draw-info {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--light-grey);
}

.property-search-results.block .search-map-container.drawing .map-draw-info p {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-xs);
  line-height: var(--line-height-l);
  text-align: center;
  letter-spacing: normal;
}

.property-search-results.block .search-map-container .map-draw-info .map-draw-boundary-link {
  display: none;
}

.property-search-results.block .search-map-container.bound .map-draw-info .map-draw-boundary-link {
  display: initial;
}

.property-search-results.block .search-map-wrapper .mobile-info-window {
  position: relative;
  background-color: var(--white);
  z-index: 1;
  border-bottom: 1px solid var(--platinum);
}

.property-search-results.block .search-map-wrapper .mobile-info-window.cluster {
  max-height: calc(var(--nav-height) + 50px); /* Search bar */
  overflow-y: scroll;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .loading p {
  margin: 30px 0;
  font-size: var(--body-font-size-xl);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

.property-search-results.block .search-map-wrapper .mobile-info-window a.info-wrapper {
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--grey);
  text-decoration: none;
}

.property-search-results.block .search-map-wrapper .mobile-info-window a.info-wrapper:last-of-type {
  border-bottom: none;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .image-wrapper {
  position: relative;
  height: 105px;
  width: 150px;
}

.property-search-results.block .search-map-wrapper .mobile-info-window.cluster .info-wrapper .image-wrapper {
  position: relative;
  height: 35px;
  width: 50px;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info {
  display: flex;
  flex-direction: column;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .price {
  font-family: var(--font-family-proxima);
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  letter-spacing: normal;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .address {
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-s);
  line-height: var(--line-height-m);
  letter-spacing: normal;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons {
  display: flex;
  gap: 15px;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons a {
  position: relative;
  width: 24px;
  height: 24px;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons span {
  position: absolute;
  top: 0;
  left: 0;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons img {
  width: 24px;
  height: 24px;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons a span.icon-envelopedark,
.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons a span.icon-heartemptydark,
.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons a:hover span.icon-envelope,
.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons a:hover span.icon-heartempty {
  display: none;
}


.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons a:hover span.icon-envelopedark,
.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons a:hover span.icon-heartemptydark {
  display: block;
}

.property-search-results.block .search-map-wrapper .mobile-info-window .info-wrapper .info .property-buttons a span.icon-heartfull {
  display: none;
}

#gmap-canvas a[href^="https://maps.google.com/maps"] {
  display: none !important; /* Don't want to use this, but theres an inline style we have to override. */
}

#gmap-canvas .gm-style-cc {
  display: none;
}

@media screen and (min-width: 900px) {
  .property-search-results.block .search-map-container .custom-controls .zoom-controls {
    display: block;
  }
}
