.property-listing.block {
  display: flex;
  flex-direction: column;
}

.property-listing.block .listing-title,
.property-listing.block .listing-link {
  margin-bottom: 1.5em;
}

.property-listing.block .listing-title span {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: normal;
  border-bottom: 3px solid var(--primary-color);
}

.property-listing.block .listing-grid {
  height: 316px;
}
