/* below the fold CSS goes here */

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/woff2/Gotham-Light_Web.woff2") format("woff2"),url("../../fonts/woff/Gotham-Light_Web.woff") format("woff");
    font-weight: 300;
    font-style: normal
}
@font-face{
    font-family:"Gotham";
    src:url("../../fonts/woff2/Gotham-XLight_Web.woff2") format("woff2"),
    url("../../fonts/woff/Gotham-XLight_Web.woff") format("woff");
    font-weight:200;
    font-style:normal
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/woff2/Gotham-Book_Web.woff2") format("woff2"),
    url("../../fonts/woff/Gotham-Book_Web.woff") format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face{
    font-family:"Gotham";
    src:url("../../fonts/woff2/Gotham-Bold_Web.woff2") format("woff2"),
    url("../../fonts/woff/Gotham-Bold_Web.woff") format("woff");
    font-weight:700;
    font-style:normal
}