@import './home-search.css';

.hero.block > div .content .search .options {
  display: flex;
  width: 100%;
}

.hero.block > div .content .search .options .option {
  padding: 5px 0;
  margin-bottom: 1.5em;
  flex: 1;
  font-family: var(--font-family-proxima);
  font-weight: 400;
  font-size: var(--body-font-size-m);
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.hero.block > div .content .search .options .option.active {
  font-weight: 600;
  border-bottom: 3px solid var(--white);
}

@media screen and (min-width: 600px) {
  .hero.block > div .content .search .options .option {
    flex: 0 1 auto;
    margin-right: 20px;
    line-height: 1.5em;
  }
}