.property-listings-cards-container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.default-content-wrapper p:first-child {
  color: #3a3a3a;
  font-family: var(--font-family-proxima);
  border-bottom: 3px solid #552448;
  font-size: 16px;
  font-weight: 700;
  margin: 0 30px 24px 0;
  text-transform: uppercase;
  letter-spacing: initial;
  display: inline-block;
}

.button-container {
  display: flex;
  margin-bottom: 1.5rem;
}

.button-container a {
  cursor:pointer;
  font-family: var(--font-family-proxima);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 25px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
  background: #fff;
  color: #000;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #000;
}

.button-container a:hover {
  border-color: #c3c5c7;
}

.property-listings-cards ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.listing-image-container {
  position: relative;
}

.property-image img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.image-position-top {
  position: absolute;
  top: 0;
}

.image-position-bottom {
  position: absolute;
  bottom: -63px;
  width: 100%;
}

.property-labels {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.property-label {
  display: inline-block;
  height: 24px;
  font-size: 12px;
  padding: 0 7px;
  line-height: 24px;
  font-family: var(--font-family-proxima);
  font-weight: 600;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.featured-listing {
  background-color: #552448;
  color: #fff;
}

.new-listing {
  background-color: var(--white);
  color: var(--body-color);
}

.property-info-wrapper {
  background: var(--white);
  color: var(--body-color);
  display: inline-block;
  font-family: var(--font-family-proxima);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  min-height: 40px;
  max-width: 70%;
  padding: 7px 10px 0;
  position: relative;
  vertical-align: bottom;
  z-index: 1;
}

.property-info {
  margin-bottom: -15px;
}

.address {
  font-family: var(--font-family-proxima);
  font-weight: 400;
  font-size: 14px;
  color: var(--body-color);
  letter-spacing: .12px;
  line-height: 18px;
  opacity: .9;
  margin: 2px 0;
  padding-top: 4px;
}

.specs {
  font-family: var(--font-family-proxima);
  font-weight: 300;
  color: var(--body-color);
  font-size: 12px;
  letter-spacing: .12px;
  line-height: 16px;
  padding-top: 3px;
}

.property-buttons {
  margin: 13px auto 0;
  position: relative;
  padding-top: 25px;
  display: flex;
}

.buttons-row-flex {
  justify-content: flex-end;
  flex-grow: 1;
  display: flex;
}

.button-property {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 4;
  margin-top: 12px;
  margin-left: 10px;
  background-color: transparent;
}

.button-property svg {
  height: 24px;
  width: 24px;
  position: absolute;
  opacity: 1;
}

.icon-envelopedark {
  display: none;
}

.icon-heartemptydark {
  display: none;
}

.button-property:hover .icon-envelopedark {
  display: block;
}

.button-property:hover .icon-heartemptydark {
  display: block;
}

.button-property:hover .icon-envelope {
  display: none;
}

.button-property:hover .icon-heartempty {
  display: none;
}

.extra-info {
  display: block;
  font-size: 12px;
  font-family: var(--font-family-proxima);
  font-weight: 300;
  padding-left: 10px;
  opacity: 1;
  color: #797676;
  letter-spacing: 0;
  line-height: 14px;
}

.extra-info-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rimls-image {
  max-height: 30px;
  width: auto;
  padding: 5px;
  vertical-align: middle;
}

@media (min-width: 600px) {
  .button-container {
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .property-info-wrapper {
    font-size: 25px;
  }
}
