@import url('../../blocks/property-listing/property-listing.css');

.saved-properties.block .property-list-cards .property-details .property-buttons .button-property .icon-heartfilled {
  display: block;
}

.saved-properties.block .property-list-cards .property-details .property-buttons .button-property .icon-heartempty {
  display: none;
}

.saved-properties.block .cmp-confirmation-modal {
  border: 0;
  display: none;
  background: #fff;
  position: fixed;
  z-index: 1050;
  right: auto;
  left: auto;
  top: auto;
  bottom: auto;
  min-height: 0;
  padding: 20px 20px 30px 20px;
  height: auto;
  width: 100%;
  max-width: -webkit-calc(100vw - 30px);
  max-width: calc(100vw - 30px);
}

body.modal-open {
  overflow: hidden;
}

.saved-properties.block .cmp-confirmation-modal.open {
  display: block;
  z-index: 1050;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.saved-properties.block .cmp-form-loader {
  position: relative;
}

.saved-properties.block .cmp-form-loader__content {
  position: relative;
}

.saved-properties.block .cmp-confirmation-modal .message {
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 140%;
  color: #3a3a3a;
  text-align: center;
}

.saved-properties.block .cmp-confirmation-modal .cmp-cta {
  width: 165px;
}

.saved-properties.block .cmp-confirmation-modal .cmp-cta:first-child {
  margin-right: .5rem;
}


.saved-properties.block .cmp-confirmation-modal .confirmation-modal-buttons {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.saved-properties.block .cmp-confirmation-modal .confirmation-modal-buttons .modal-cta .btn {
  cursor: pointer;
  text-align: center;
}

.saved-properties.block .cmp-confirmation-modal.open+.cmp-confirmation-modal__overlay {
  display: block;
}

.saved-properties.block .cmp-confirmation-modal__overlay {
  background-color: #212529;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: .5;
  z-index: 1040;
  display: none;
  top: 0;
  left: 0;
}

.saved-properties.block .property-list-cards {
  height: unset;
}

.cmp-form-loader__image.exit {
  opacity: 0;
  pointer-events: none;
}

.cmp-form-loader__image.exit.show {
  opacity: 1;
  transition: all 1s ease-in;
  pointer-events: all;
}

.cmp-form-loader__image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.cmp-form-loader .spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.cmp-form-loader .double-bounce1, .cmp-form-loader .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #670038;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite ease-in-out;
}

.cmp-form-loader .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@media screen and (min-width: 600px) {
  .saved-properties.block .cmp-confirmation-modal {
    width: 500px;
    padding: 30px;
  }

  .saved-properties.block .cmp-confirmation-modal .modal-cta .btn {
    display: inline-block;
  }
}