@import url('../../blocks/property-listing/property-listing.css');

.property-list-cards .property-details .property-buttons .button-property .icon-heartfilled {
    display: block;
  }

  .property-list-cards .property-details .property-buttons .button-property .icon-heartempty {
    display: none;
  }

  .cmp-confirmation-modal {
    border: 0;
    display: none;
    background: #fff;
    position: fixed;
    z-index: 1050;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    min-height: 0;
    padding: 20px 20px 30px 20px;
    height: auto;
    width: 100%;
    max-width: -webkit-calc(100vw - 30px);
    max-width: calc(100vw - 30px);
  }
  
  /* prevent scroll on the body when the modal is open */
    body.modal-open {
        overflow: hidden;
    }
  
  .cmp-confirmation-modal.open {
    display: block;
    z-index: 1050;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .cmp-form-loader {
    position: relative;
  }
  
  .cmp-form-loader__content {
    position: relative;
  }

  .cmp-confirmation-modal .message {
    font-family: "Manrope";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 140%;
    color: #3a3a3a;
    text-align: center;
  }

    .cmp-confirmation-modal .cmp-cta {
        width: 165px;
    }

    /* apply a right marging for the first .cmp-cta button */
    .cmp-confirmation-modal .cmp-cta:first-child {
        margin-right: .5rem;
    }

 
  /* make .confirmation-modal-buttons a flex container and align the buttons in the center and space-between */
    .cmp-confirmation-modal .confirmation-modal-buttons {
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }

    .cmp-confirmation-modal .confirmation-modal-buttons .modal-cta .btn {
        cursor: pointer;
        text-align: center;
      }

      .cmp-confirmation-modal.open + .cmp-confirmation-modal__overlay {
        display: block;
      }

      .cmp-confirmation-modal__overlay {
        background-color: #212529;
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: .5;
        z-index: 1040;
        display: none;
        top: 0;
        left: 0;
      }

      .saved-properties .property-list-cards{
        height: unset;
      }

  @media screen and (min-width: 600px){
    .cmp-confirmation-modal {
        width: 500px;
        padding: 30px;
      }

      .cmp-confirmation-modal .modal-cta .btn {
        display: inline-block;
      }
  }