.design-4.traditional .floatingagent.block {
    background-color: var(--primary-color);
}

.design-4.traditional .floatingagent.block > .agentinfo > p , .design-4.traditional .floatingagent.block > .agentinfo > h2 {
    color: var(--tertiary-color) !important;
}

.design-4.traditional .floatingagent.block > .contactagent {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

