.section.blog-menu-container {
  padding: 0;
  margin: 0 auto;
  max-width: var(--wide-page-width);
  position: sticky;
  top: 0;
  z-index: 10;
}


.blog-nav {
  display: flex;
  flex-flow: column;
  background-color: var(--primary-color);
  color: var(--white);
  padding-top: 10px;
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-m);
  width: 100vw;
  max-width: 1600px;
}

.blog-nav a {
  text-decoration: none;
  letter-spacing: var(--letter-spacing-m);
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-m);
  color: var(--white);
  text-decoration-style: solid;
}

.blog-nav h1 a {
  display: block;
  font-size: var(--heading-font-size-xl);
  font-family: var(--font-family-proxima);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  text-align: center;
  text-transform: none;
  letter-spacing: initial;
}

.blog-nav a:hover {
  border-bottom: 1px solid var(--white);
  color: var(--white);
  opacity: 0.6;
}

.blog-nav .blog-nav-selected {
  padding: 16px 0;
  letter-spacing: var(--letter-spacing-m);
  line-height: var(--line-height-m);
  text-align: center;
}

.blog-nav ul {
  display: none;
  position: absolute;
  top: 120px;
  text-align: center;
  width: 100%;
  padding: 0 10px;
  background-color: var(--primary-color);
}

.blog-nav ul.visible {
  display: block;
}

.blog-nav li {
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-m);
  line-height: var(--line-height-m);
  letter-spacing: var(--letter-spacing-m);
  padding: 16px 0;
  border-top: solid 1px var(--white);
  text-align: center;
}

.blog-nav .blog-nav-selected span {
  color: var(--white);
}

.blog-nav .category-dropdown-icon {
  width: 10px;
  height: 8px;
  vertical-align: middle;
  filter: brightness(100);
  padding: 0 0 2px;
}

.blog-detail-template .category-dropdown-icon {
  filter: initial;
}

.blog-nav .selected-cat {
  font-weight: var(--font-weight-bold);
  border-bottom: 2px solid var(--white);
}

@media (min-width: 900px) {
  .blog-nav .blog-nav-selected {
    display: none;
  }

  .blog-nav ul {
    padding: 0 66px 25px;
    position: unset;
    display: flex;
    justify-content: space-between;
  }

  .blog-nav li {
    padding: 0;
    border-top: none;
  }

  .blog-nav h1 a {
    text-align: left;
    margin: 0 66px
  }

}

@media (min-width: 1200px) {
  .blog-nav h1 a {
    font-size: var(--heading-font-size-xxxl);
    line-height: var(--line-height-l);
  }
}
