.carousel-slider {
  position: relative;
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
}

.carousel-slider .slide-container {
  display: flex;
  gap: 5px;
  transition: transform 0.5s ease-in-out;
}

.carousel-slider .slide {
  flex: 0 0 auto;
  position: relative;
  max-height: 500px;
}

.carousel-slider .slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.carousel-slider .btns {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.carousel-slider .btn-prev::before {
  content: "\f053";
  font-family: var(--font-family-fontawesome);
}

.carousel-slider .btn-next::before {
  content: "\f054";
  font-family: var(--font-family-fontawesome);
}

.carousel-slider .btn-prev,
.carousel-slider .btn-next {
  background: #a9a9a990;
  height: 40px;
  width: 40px;
  margin-top: -25px;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  text-align: center;
  line-height: 2.5rem;
  transition: all 0.2s ease-in;
}

.carousel-slider div.thumbs {
  padding: 10px 0;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.carousel-slider div.thumbs div {
  display: inline-block;
  opacity: 0.5;
}

.carousel-slider div.thumbs div button {
  padding: 0;
  height: 40px;
  width: 40px;
  margin-right: 2px;
  border: 0;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.carousel-slider div.thumbs div.active {
  opacity: 1;
}

.carousel-slider-container {
  margin: 1rem 1rem 2rem;
}

@media (min-width: 900px) {
  .carousel-slider .btns,
  .carousel-slider div.thumbs {
    display: none;
  }
  .carousel-slider .arrows {
    display: inline;
  }
}